<!-- Komponent z 1 parametrem kaskadowym , przekazanym z dwóch poziomów wyżej -->
<div class="card" style="width: 18rem;">
    <img src="@Image" class="card-img-top" alt="@Title">
    <div class="card-body">
        <h5 class="card-title">@Title</h5>
        <p class="card-text">@Content</p>
        <button class="btn btn-primary">@BtnText</button>
    </div>

    <div class="mx-1">
            <AdditionalInfo2 />
    </div>
</div>


