@page "/currencies"
@layout MwTechLayout
@rendermode _renderMode
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@using MwTech.Blazor.Client.Layout
@using MwTech.Domain.Entities




<PageTitle>Waluty -  MwTech</PageTitle>

<h1>Waluty</h1>


@*
<SectionContent SectionId="MwTechLayout.TopSection">

    <LoginInfo></LoginInfo>

</SectionContent>
*@


<div class="row my-4">
    <div class="col-6">
        <EditForm Model="_filter" OnValidSubmit="Filter">

            <div class="form-group mt-3">
                <label class="form-label">Nazwa</label>
                <InputText @bind-Value="_filter.Name" class="form-control" />
            </div>


            <button class="btn btn-primary btn-lg">
                Filtruj
            </button>

        </EditForm>
    </div>
</div>


@if (_currencies == null)
{
    <Loading></Loading>
}
else
{
   
    <table class="table">
        <thead>
            <tr>
                <th>Kod</th>
                <th>Nazwa. (C)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in _currencies)
            {
                <tr>
                    <td>
                        <a href="/currency/edit/@item.Id" class="fw-bold link-primary link">@item.CurrencyCode</a>
                    </td>
                    <td>@item.Name</td>
                    <td>
                        <a href="/currency/edit/@item.Id" class="btn btn-warning btn-sm me-2 my-1">Edytuj</a>
                        <button type="button" @onclick="() => DeleteCurrency(item.Id)" class="btn btn-danger btn-sm me-2 my-1">Usuń</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <Pagination PaginationInfo="_paginationInfo" SelectedPage="OnSelectedPage"></Pagination>
    
   @*
    <div class="mb-4">
        <RadzenDataGrid AllowFiltering="true" Data="@_currencies" TItem="Currency" AllowColumnResize="true" AllowSorting="true">
            <Columns>
                <RadzenDataGridColumn TItem="Currency" Property="Name" Title="Nazwa" />
                <RadzenDataGridColumn TItem="Currency" Property="CurrencyCode" Title="Kod" />
            </Columns>
        </RadzenDataGrid>
    </div>
   

    <TelerikGrid Data="@_currencies"
                 Pageable="true"
                 Sortable="true"
                 EnableLoaderContainer="true"
                 FilterMode="@GridFilterMode.FilterRow">

        <GridToolBarTemplate>
            <GridCommandButton Command="ExcelExport" Icon="@SvgIcon.FileExcel">Export to Excel</GridCommandButton>
            <label class="k-checkbox-label"><TelerikCheckBox @bind-Value="@ExportAllPages" />Export All Pages</label>
        </GridToolBarTemplate>

        <GridExport>
            <GridExcelExport FileName="telerik-grid-export" AllPages="@ExportAllPages" />
        </GridExport>

        <GridColumns>
            <GridColumn Field="@nameof(Currency.Name)" />
            <GridColumn Field="@nameof(Currency.CurrencyCode)" />


        <GridColumn  Width="300px">
            <Template>
                @{ 
                    Currency currItem = context as Currency;
                    <TelerikButton OnClick="@(_ => DeleteCurrency(currItem.Id) )" ThemeColor="@ThemeConstants.Button.ThemeColor.Error" >usuń</TelerikButton>
                     <a href="/currency/edit/@currItem.Id" class="btn btn-warning btn-sm me-2 my-1">Edit</a>
                     <button type="button" @onclick="() => DeleteCurrency(currItem.Id)" class="btn btn-danger btn-sm me-2 my-1">Usuń</button>
                }
            </Template>
        </GridColumn>

        </GridColumns>
    </TelerikGrid>
    *@
}


