@inject NavigationManager Navigation
@using System.Security.Claims

<div class="me-4">
    <AuthorizeView>
        <Authorized>
                <span class="me-2">
                    <strong>@context.User.FindFirst(ClaimTypes.GivenName)?.Value @context.User.FindFirst(ClaimTypes.Surname)?.Value</strong>
                </span>
                <span class="me-2">
                    <button type="button" @onclick="@( () => Navigation.NavigateTo("wyloguj"))" class="btn btn-secondary btn-sm me-2 my-1">Wyloguj</button>

                </span>
        </Authorized>
        <NotAuthorized>

                <span class="me-2">
                    <button type="button" @onclick="@( () => Navigation.NavigateTo("rejestracja"))" class="btn btn-secondary btn-sm me-2 my-1">rejestracja</button>
                </span>
                <span class="me-2">
                    <button type="button" @onclick="@( () => Navigation.NavigateTo("logowanie"))" class="btn btn-secondary btn-sm me-2 my-1">zaloguj</button>
                </span>

        </NotAuthorized>
    </AuthorizeView>

    <AuthorizeView Roles="Administrator">
        <Authorized>
            <span class="me-2" style="color:crimson;font-weight:bold;">ADMIN</span>
        </Authorized>
    </AuthorizeView>
</div>